body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #222;
    color: #ddd;
}

.container{
    width: 100%;
    height: 100%;
}

.showError{
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
    background-color:rgb(208, 21, 58);
    color: #eee;
    border-radius: 10px;
}

.logo{
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    color: #fff;
}

.menu-icon{
    width: 24px;
    vertical-align: middle;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #e39f00;
    overflow: hidden;
    height: 60px;
}

.menu li{
    float: left;
    background-color: #f8ae00;
    margin-right: 20px;
    border-radius: 10px;
    height: 48px;
    margin-top: 5px;
}

.menu li:first-child{
    margin-left: 15px;
    
}

.menu li:last-child{
    background-color: #e39f00;
}

.menu a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    display: block;
    border: 1px solid #f8ae00;
    border-radius: 10px;
}

.menu a:hover{
    border: 1px solid #eee;
    border-radius: 10px;
}

.current-page{
    bordeR: 1px solid #eee !important;
}

.status-li{
    padding: 14px 16px;
}

.cryptos{
    margin: 25px auto;
    border-collapse: collapse;
}

.cryptos td, th{
    min-width: 150px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

.coin-img{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.coin-name{
    display: inline-block;
    vertical-align: middle;
    color: #ddd; 
}

.cryptos td:first-child, th:first-child{
    text-align: left;
}

.page-select{
    text-align: center;
}

.footer{
    background-color: #333;
    color: #eee;
    padding: 40px 25px;
    text-align: center;
    margin-top: 100px;
}

.coin-info{
    width: 75%;
    margin: 50px auto;
}

.coin-name2{
    font-size: 20px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 5px;
}

.coin-price{
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
}

a{
    color: black;
    text-decoration: none;
}

#coin-about-desc > a{
    text-decoration: underline;
    color: #eee;
}

.page-begin{
    background-color: #dd9b00 !important;
}

.page-begin:hover{
    background-color: #be8500 !important;
}

.page-end{
    background-color: #dd9b00 !important;
}

.page-end:hover{
    background-color: #be8500 !important;
}

.page-btn{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    background-color:rgb(215, 188, 193);
    border-radius: 10px;
    border: 1px solid rgb(215, 188, 193);
}

.page-btn:hover{
    cursor: pointer;
    background-color: rgb(171, 149, 153);
}

.current-page-btn{
    background-color: rgb(171, 149, 153);
}

.sorting{
    margin-top: 25px;
    text-align: right;
    margin-right: 190px;
}

.sorting > select{
    background-color: rgb(148, 148, 148);
    color: #eee;
    width: 100px;
    height: 30px;
}

.sorting > select:hover{
    cursor: pointer;
}